@CHARSET "UTF-8";
#upRule:hover   {background-color: #4174ff;}
#logout:hover   {background-color: #4174ff;}
.node-tree.node-selected:hover {
	color: #FFFFFF;
	background-color: #262c43;
}
.node-tree:not(.node-disabled):hover {
	background-color: #F5F5F5;
}
.node-tree.node-selected {
	color: #FFFFFF;
	background-color: #262c43;
}

.divDragShow { 
	margin-top: 15px;
	width: 20%; 
	height: 600px;
	background: #262C43;
	margin-right: -25%;
	border-radius: 6px;
	-webkit-transition: margin-right 0.3s;
	-moz-transition: margin-right 0.3s;
	transition: margin-right 0.3s;
	-webkit-transition-timing-function:ease;
	transition-timing-function:ease;
}

.mobile-right {
	float: right;
	margin-right: 20px;
}

#divET {
	margin-top: -6px;
	margin-left: 0px;
	margin-right: -3px;
	color: #ffffff;
}

.rr3{
	margin-top: 0px;
	margin-left: -20px;
	margin-bottom: 10px;
	padding:0px 5px 10px 0px;
	width: 100%;
	min-width: 500px;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

.mobile-right2 {
	width: 80%;
}

#modal_submit .modal-content{
	background-color: #262C43;
}

#tips_p_submit{
	font-size: 20px;
}

#siteTree_aside{
	margin-top: 15px;
	margin-right: -20px;
}

#btnSaveSiteTree{
	margin-top: -15px;
}

#btnAdd {
	border:0;
	background-color: #262C43;
}
#btnRemove {
	border:0;
	background-color: #262C43;
}
#btnSaveSiteTree {
	border:0;
	background-color: #262C43;
}
#modal-body{
	color: #ffffff;
}
#myModalLabel{
	color: #333;
}
#myModalLabelsend{
	color: #333;
}
/* #table th { */
	/* background-color: black; */
	/* color:white; */
/* } */

div#lr211{
	margin-left: -15px;
	background-color: #ffffff;
	height: 80px;
	width: 60px;
	border-radius: 5px 0px 0 0;
}
#allmap{
	width: 100%;
	height: 400px;
	overflow: hidden;
	margin:0;
	font-family:"微软雅黑";
	margin-left: -19px;
}
#btnNewSite{
	color: #fff;
	background-color: #262C43;
	border-color: #262C43;
}
#btnCloseNS{
	color: #fff;
	background-color: #262C43;
	border-color: #262C43;
}
#btnSendReport{
	color: #fff;
	background-color: #262C43;
	border-color: #262C43;
}
#btnCloseSR{
	color: #fff;
	background-color: #262C43;
	border-color: #262C43;
}