@CHARSET "UTF-8";

#logout:hover   {background-color: #4174ff;}
/* .rr2{ */
	/* margin-top: 15px; */
	/* padding:0px 5px 10px 0px; */
	/* margin-left: -10px; */
/* } */

.rr3{
	margin-top: 0px;
	margin-bottom: 10px;
	padding:0px 5px 10px 0px;
	margin-left: -18px;
	min-width: 700px;
}
#btn_add{
	background-color: #262C43;
	border-color: #262C43;
}
#remove{
	background-color: #262C43;
	border-color: #262C43;
}
/* #table{ */
	/* height: 800px; */
	/* data-height: 800px; */
/* } */
#userdropdown{
	margin-left: 800px;
	margin-top: 100px;
	padding: 2px 2px 2px 2px;
	color: #262C43;
}